

.drawingBoardContainer {
        margin: auto;
        width: 100vw;
        height: calc(100vh - 100px);
        position: relative;
}

.buttonContainer {
        position: absolute;
        width: 100vw;
        gap: 24px;
        align-items: center;
        justify-content: center;
        display: flex;
        top: 30px;
  padding: 0 30px;
  flex-wrap: wrap;
}
